In [1]:
! pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\asus\anaconda3\lib\site-packages (0.21.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\asus\anaconda3\lib\site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\asus\anaconda3\lib\site-packages (from mlxtend) (1.6.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\asus\anaconda3\lib\site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\asus\anaconda3\lib\site-packages (from mlxtend) (1.20.1)
Requirement already satisfied: setuptools in c:\users\asus\anaconda3\lib\site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: joblib>=0.13.2 in c:\users\asus\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\asus\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: six in c:\users\asus\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from mlxtend.frequent_patterns import apriori, association_rules

Requirement already satisfied: pytz>=2017.3 in c:\users\asus\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.1.0)

# Association Rule for Store Dataset

In this case study, we will explore how association rule can be used to analyze the items that are usualy purcased together.

## Load Data

We will use the dataset of the transaction in a certain store. You can get the dataset here: 
https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv

In [3]:
# load the data set ans show the first five transaction
df = pd.read_csv("https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv")
df.head()

C:\Users\Asus\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

# Get the set of product that has been purchased

In [4]:
unique = set(pd.unique(df.values.ravel()))
print(unique)

{nan, 'Meat', 'Eggs', 'Pencil', 'Milk', 'Bread', 'Wine', 'Cheese', 'Bagel', 'Diaper'}

C:\Users\Asus\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

## Preprocess Data

In this step, we will transform our dataset so that we will have a one hot encoding based on the purchased products.

In [5]:
#create an itemset based on the products
itemset = []
for i in range(0, 315):
    itemset.append([str(df.values[i,j]) for j in range(0, 7)])

# encoding the feature
from mlxtend.preprocessing import TransactionEncoder
a = TransactionEncoder()
a_data = a.fit(itemset).transform(itemset)

C:\Users\Asus\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [6]:
# create new dataframe from the encoded features
dfencoded = pd.DataFrame(a_data,columns=a.columns_)
dfencoded = dfencoded.replace(False,0)
dfencoded = dfencoded.replace(True,1)

# show the new dataframe
dfencoded.head()

C:\Users\Asus\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

   Bagel  Bread  Cheese  Diaper  Eggs  Meat  Milk  Pencil  Wine  nan
0      0      1       1       1     1     1     0       1     1    0
1      0      1       1       1     0     1     1       1     1    0
2      0      0       1       0     1     1     1       0     1    1
3      0      0       1       0     1     1     1       0     1    1
4      0      0       0       0     0     1     0       1     1    1

Since, the encoded dataframe consist of the empty column. We will drop the NaN column or select all columns other than the first column.

In [7]:
dfencoded = dfencoded.drop(['nan'], axis=1)

C:\Users\Asus\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [9]:
dfencoded

C:\Users\Asus\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

     Bagel  Bread  Cheese  Diaper  Eggs  Meat  Milk  Pencil  Wine
0        0      1       1       1     1     1     0       1     1
1        0      1       1       1     0     1     1       1     1
2        0      0       1       0     1     1     1       0     1
3        0      0       1       0     1     1     1       0     1
4        0      0       0       0     0     1     0       1     1
..     ...    ...     ...     ...   ...   ...   ...     ...   ...
310      0      1       1       0     1     0     0       0     0
311      0      0       0       0     0     1     1       1     0
312      0      1       1       1     1     1     0       1     1
313      0      0       1       0     0     1     0       0     0
314      1      1       0       0     1     1     0       0     1

[315 rows x 9 columns]

In [12]:
##Apriori Algorithm

C:\Users\Asus\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [14]:
frequent_itemsets = apriori(dfencoded,min_support=0.2,use_colnames = True)
frequent_itemsets

C:\Users\Asus\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
C:\Users\Asus\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support              itemsets
0   0.425397               (Bagel)
1   0.504762               (Bread)
2   0.501587              (Cheese)
3   0.406349              (Diaper)
4   0.438095                (Eggs)
5   0.476190                (Meat)
6   0.501587                (Milk)
7   0.361905              (Pencil)
8   0.438095                (Wine)
9   0.279365        (Bread, Bagel)
10  0.225397         (Milk, Bagel)
11  0.238095       (Bread, Cheese)
12  0.231746       (Bread, Diaper)
13  0.206349         (Bread, Meat)
14  0.279365         (Milk, Bread)
15  0.200000       (Bread, Pencil)
16  0.244444         (Bread, Wine)
17  0.200000      (Cheese, Diaper)
18  0.298413        (Eggs, Cheese)
19  0.323810        (Cheese, Meat)
20  0.304762        (Milk, Cheese)
21  0.200000      (Cheese, Pencil)
22  0.269841        (Wine, Cheese)
23  0.234921        (Wine, Diaper)
24  0.266667          (Eggs, Meat)
25  0.244444          (Milk, Eggs)
26  0.241270          (Eggs, Wine)
27  0.244444          (Milk, Meat)
28  0.250794          (Wine, Meat)
29  0.219048          (Milk, Wine)
30  0.200000        (Wine, Pencil)
31  0.215873  (Eggs, Cheese, Meat)
32  0.203175  (Milk, Cheese, Meat)

The we will generate association rule of the frequent itemset based on confidence level with the threshold=0.6

In [16]:
ass_rules = association_rules(frequent_itemsets,metric="confidence",min_threshold=0.6)
ass_rules

C:\Users\Asus\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650
1,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,0.078670,1.563203
2,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,0.084958,1.477891
3,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540
4,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
5,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
6,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,0.050098,1.297754
7,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,0.058050,1.338624
8,"(Eggs, Cheese)",(Meat),0.298413,0.476190,0.215873,0.723404,1.519149,0.073772,1.893773
9,"(Eggs, Meat)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,0.082116,2.616667
10,"(Cheese, Meat)",(Eggs),0.323810,0.438095,0.215873,0.666667,1.521739,0.074014,1.685714
11,"(Milk, Cheese)",(Meat),0.304762,0.476190,0.203175,0.666667,1.400000,0.058050,1.571429
12,"(Milk, Meat)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,0.080564,2.952137
13,"(Cheese, Meat)",(Milk),0.323810,0.501587,0.203175,0.627451,1.250931,0.040756,1.337845